# Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/

UPLOADTHING_SECRET=''
UPLOADTHING_APP_ID=''

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a new NEXTAUTH_SECRET
# require('crypto').randomBytes(16).toString('hex')
# https://next-auth.js.org/configuration/nextauth-config#secret
# https://next-auth.js.org/configuration/nextauth-config#nextauth_url
# https://next-auth.js.org/configuration/providers/oauth#google
# https://next-auth.js.org/configuration/providers/oauth#credentials
# https://next-auth.js.org/configuration/providers/oauth#email
# https://next-auth.js.org/configuration/providers/oauth#github
# https://next-auth.js.org/configuration/providers/oauth#facebook
# https://next-auth.js.org/configuration/providers/oauth#twitter
# https://next-auth.js.org/configuration/providers/oauth#auth0
# https://next-auth.js.org/configuration/providers/oauth#azure-ad
# https://next-auth.js.org/configuration/providers/oauth#linkedin
# https://next-auth.js.org/configuration/providers/oauth#discord
# https://next-auth.js.org/configuration/providers/oauth#slack
# https://next-auth.js.org/configuration/providers/oauth#spotify
# https://next-auth.js.org/configuration/providers/oauth#twitch
# https://next-auth.js.org/configuration/providers/oauth#reddit
# https://next-auth.js.org/configuration/providers/oauth#apple
# https://next-auth.js.org/configuration/providers/oauth#email
# https://next-auth.js.org/configuration/providers/oauth#credentials

NEXTAUTH_URL=''
NEXTAUTH_SECRET=''


# Go to google cloud console and setup the oauth configuration
# https://console.cloud.google.com/apis/credentials
# https://next-auth.js.org/providers/google#configuration
# https://next-auth.js.org/providers/google#offline-access
# https://developers.google.com/identity/protocols/oauth2/scopes#google-sign-in
# https://developers.google.com/identity/protocols/oauth2/openid-connect#authenticationuriparameters
# https://developers.google.com/identity/protocols/oauth2/openid-connect#hd-param
# https://developers.google.com/identity/protocols/oauth2/openid-connect#authenticationuriparameters
# https://developers.google.com/identity/protocols/oauth2/openid-connect#prompt-param
# https://developers.google.com/identity/protocols/oauth2/openid-connect#response-type-param
# https://developers.google.com/identity/protocols/oauth2/openid-connect#scope-param
# https://developers.google.com/identity/protocols/oauth2/openid-connect#access-tokens
# https://developers.google.com/identity/protocols/oauth2/openid-connect#refresh-tokens
# https://developers.google.com/identity/protocols/oauth2/openid-connect#examples

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers
# https://docs.github.com/en/developers/apps/building-oauth-apps/scopes-for-oauth-apps
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#device-flow
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#web-application-flow
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#refreshing-user-access-tokens
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#access-tokens-and-sensitive-scopes
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#refreshing-user-access-tokens
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#refreshing-user-access-tokens

GITHUB_ID=''
GITHUB_SECRET=''